// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2025, NVIDIA CORPORATION & AFFILIATES. All rights reserved.

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/tegra264-clk.h>
#include <dt-bindings/gpio/tegra264-gpio.h>

/* camera control gpio definitions */
#define CAM0_RST_L	TEGRA264_MAIN_GPIO(V, 2)
#define CAM0_PWDN	TEGRA264_MAIN_GPIO(AL, 1)

#define JETSON_COMPATIBLE	"nvidia,p3971-0089+p3834-0008", "nvidia,p3971-0050+p3834-0005", "nvidia,p3971-0080+p3834-0008"

/ {
	overlay-name = "Jetson Camera E3331 module";
	jetson-header-name = "Jetson AGX CSI Connector";
	compatible = JETSON_COMPATIBLE;

	fragment@0 {
		target-path = "/";

		board_config {
			ids = "3331-*";
			sw-modules = "kernel";
		};

		__overlay__ {
			tegra-capture-vi {
				num-channels = <1>;
				ports {
					status = "okay";
					port@0 {
						status = "okay";
						endpoint {
							status = "okay";
							port-index = <0>;
							bus-width = <3>;
							remote-endpoint = <&e3331_csi_out0>;
						};
					};
				};
			};
			tegra-camera-platform {
				status = "okay";
				compatible = "nvidia, tegra-camera-platform";
				modules {
					status = "okay";
					module0 {
						status = "okay";
						badge = "e3331_rear_22N02A";
						position = "rear";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6d0000/tca9546@70/i2c@0/imx318_a@10";
						};
					};
				};
			};
			bus@0 {
				gpio@810c300000 {
					camera-control-output-low {
						gpio-hog;
						output-low;
						gpios = <CAM0_RST_L 0>;
						label = "cam0-rst";
					};
				};
				host1x@8181200000 {
					nvcsi@8188000000 {
						num-channels = <1>;
						channel@0 {
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									status = "okay";
									endpoint@0 {
										status = "okay";
										port-index = <0>;
										bus-width = <3>;
										remote-endpoint = <&e3331_imx318_out0>;
									};
								};
								port@1 {
									status = "okay";
									endpoint@1 {
										status = "okay";
										remote-endpoint = <&e3331_vi_in0>;
									};
								};
							};
						};
					};
				};
				i2c@810c6d0000 {
					tca9546@70 {
						compatible = "nxp,pca9546";
						reg = <0x70>;
						#address-cells = <1>;
						#size-cells = <0>;
						skip_mux_detect;
						status = "okay";
						i2c@0 {
							reg = <0>;
							i2c-mux,deselect-on-exit;
							#address-cells = <1>;
							#size-cells = <0>;
							status = "okay";
							imx318_a@10 {
								status = "okay";
								clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
									 <&bpmp TEGRA264_CLK_PLLP_OUT0>;
								clock-names = "extperiph1", "pllp_grtba";
								mclk = "extperiph1";
								clock-frequency = <24000000>;
								reset-gpios = <&gpio_main CAM0_RST_L GPIO_ACTIVE_HIGH>;
								ports {
									#address-cells = <1>;
									#size-cells = <0>;
									status = "okay";
									port@0 {
										status = "okay";
										reg = <0>;
										endpoint {
											status = "okay";
											port-index = <0>;
											bus-width = <3>;
											remote-endpoint = <&e3331_csi_in0>;
										};
									};
								};
							};
						};
					};
				};
			};
		};
	};
};
