// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2025, NVIDIA CORPORATION & AFFILIATES. All rights reserved.

/dts-v1/;
/plugin/;

#include "tegra264-p3971-camera-p3762-a00.dtsi"
#include <dt-bindings/gpio/tegra264-gpio.h>
#include <dt-bindings/clock/tegra264-clk.h>

/ {
	overlay-name = "Jetson Camera Hawk-Owl p3762 module";
	jetson-header-name = "Jetson AGX CSI Connector";
	compatible = "nvidia,p3971-0089+p3834-0008", "nvidia,p3971-0050+p3834-0005", "nvidia,p3971-0080+p3834-0008";

	fragment-camera-hawk-owl@0 {
		target-path = "/";
		__overlay__ {
			bus@0 {
				i2c@810c6d0000 {
					max96712_b@62 {
						status = "okay";
					};
					ar0234_i@30 {
						status = "okay";
					};
					ar0234_j@32 {
						status = "okay";
					};
					ar0234_k@34 {
						status = "okay";
					};
					ar0234_l@36 {
						status = "okay";
					};
				};
				i2c@810c6a0000 {
					max96712_a@62 {
						status = "okay";
					};
					virtual_i2c_mux@50 {
						status = "okay";
						i2c@0 {
							bmi088_a@69 {
								status = "okay";
							};
							ar0234_a@30 {
								status = "okay";
							};
							ar0234_b@31 {
								status = "okay";
							};
						};
						i2c@1 {
							ar0234_c@32 {
								status = "okay";
							};
							ar0234_d@33 {
								status = "okay";
							};
						};
						i2c@2 {
							ar0234_e@34 {
								status = "okay";
							};
							ar0234_f@35 {
								status = "okay";
							};
						};
						i2c@3 {
							ar0234_g@36 {
								status = "okay";
							};
							ar0234_h@37 {
								status = "okay";
							};
						};
					};
				};
			};
		};
	};
};
