/*
 * Top level DTS file for CVM:P3701-0000 and CVB:P3737-0000.
 *
 * Copyright (c) 2021-2023, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/dts-v1/;
#include "tegra234-p3701-0000-prod.dtsi"
#include "cvm/tegra234-p3701-0000.dtsi"
#include "cvb/tegra234-p3737-0000-a04.dtsi"
#include "tegra234-power-tree-p3701-0000-p3737-0000.dtsi"
#include "tegra234-dcb-p3701-0000-a02-p3737-0000-a01.dtsi"
#include <tegra234-soc/mods-simple-bus.dtsi>
// #include "cvb/tegra234-p3737-camera-modules.dtsi"
#include <t234-common-cvb/tegra234-pwm.dtsi>
#include <t234-common-cvm/tegra234-cpuidle.dtsi>
#include <t234-common-cvm/tegra234-thermal.dtsi>
#include <t234-common-cvm/tegra234-thermal-cooling.dtsi>
#include <t234-common-cvm/tegra234-thermal-userspace-alert.dtsi>
#include <tegra234-soc/tegra234-soc-hwpm.dtsi>

#define CAM0_RST_L	TEGRA234_MAIN_GPIO(H, 3)
#define CAM0_PWDN	TEGRA234_MAIN_GPIO(H, 6)
#define CAM1_RST_L	TEGRA234_MAIN_GPIO(AC, 1)
#define CAM1_PWDN	TEGRA234_MAIN_GPIO(AC, 0)

#define CAM_I2C_MUX 	TEGRA234_AON_GPIO(CC, 3)

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;

	compatible = "nvidia,p3737-0000+p3701-0000", "nvidia,p3701-0000", "nvidia,tegra234", "nvidia,tegra23x";
	model = "Jetson AGX Orin Developer Kit";

	nvsciipc-kernel {
		compatible = "nvidia,nvsciipc";
		status = "okay";
	};

	firmware {
		android {
			compatible = "android,firmware";
			first_stage_delay = "1";
			system_root_blkdev = "/dev/mmcblk0p1";
			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/3460000.sdhci/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro,noatime";
					fsmgr_flags = "wait";
				};
			};
		};
	};

	/* set camera gpio direction to output */
	gpio@2200000 {
			camera-control-output-low {
					gpio-hog;
					output-low;
					gpios = <CAM0_RST_L 0 CAM0_PWDN 1
							CAM1_RST_L 0 CAM1_PWDN 1
							>;
					label = "cam0-rst", "cam0-pwdn",
							"cam1-rst", "cam1-pwdn";
			};
	};


	display@13800000 {
		status = "okay";
	};

	dce@d800000 {
		status = "okay";
	};

	bpmp {
		i2c {
			tegra_tmp451: temp-sensor@4c {
				vdd-supply = <&p3737_vdd_1v8_sys>;

				ext {
					shutdown-limit = <107>;
				};
			};

			vrs11_1@20 {
				compatible = "nvidia,vrs11";
				reg = <0x20>;
				rail-name-loopA = "GPU";
				rail-name-loopB = "CPU";
				status = "okay";
			};

			vrs11_2@22 {
				compatible = "nvidia,vrs11";
				reg = <0x22>;
				rail-name-loopA = "SOC";
				rail-name-loopB = "CV";
				status = "okay";
			};
		};
	};

	reserved-memory {
		linux,cma {
			status = "okay";
		};
	};

	tegra_soc_hwpm {
                status = "okay";
        };

	tegra-hsp@3d00000 {
		status = "okay";
	};

	aon@c000000 {
		status = "okay";
	};

	cpu_alert: cpu-throttle-alert {
		status = "okay";
	};

	gpu_alert: gpu-throttle-alert {
		status = "okay";
	};

	cv0_alert: cv0-throttle-alert {
		status = "okay";
	};

	cv1_alert: cv1-throttle-alert {
		status = "okay";
	};

	cv2_alert: cv2-throttle-alert {
		status = "okay";
	};

	soc0_alert: soc0-throttle-alert {
		status = "okay";
	};

	soc1_alert: soc1-throttle-alert {
		status = "okay";
	};

	soc2_alert: soc2-throttle-alert {
		status = "okay";
	};

	hot_surface_alert: hot-surface-alert {
		status = "okay";
	};

	stm@24080000 {
		status = "disabled";
	};

	cpu0_etm@27040000 {
		status = "disabled";
	};

	cpu1_etm@27140000 {
		status = "disabled";
	};

	cpu2_etm@27240000 {
		status = "disabled";
	};

	cpu3_etm@27340000 {
		status = "disabled";
	};

	cpu4_etm@27440000 {
		status = "disabled";
	};

	cpu5_etm@27540000 {
		status = "disabled";
	};

	cpu6_etm@27640000 {
		status = "disabled";
	};

	cpu7_etm@27740000 {
		status = "disabled";
	};

	cpu8_etm@27840000 {
		status = "disabled";
	};

	cpu9_etm@27940000 {
		status = "disabled";
	};

	cpu10_etm@27A40000 {
		status = "disabled";
	};

	cpu11_etm@27B40000 {
		status = "disabled";
	};

	funnel_ccplex0@26030000 {
		status = "disabled";
	};

	funnel_ccplex1@26040000 {
		status = "disabled";
	};

	funnel_ccplex2@26050000 {
		status = "disabled";
	};

	funnel_top_ccplex@26020000 {
		status = "disabled";
	};

	funnel_major@24040000 {
		status = "disabled";
	};

	replicator@24060000 {
		status = "disabled";
	};

	etf@24050000 {
		status = "disabled";
	};

	etr@24070000 {
		status = "disabled";
	};

	serial@31d0000 {
		status = "okay";
	};
	pcie@141a0000 {
		nvidia,disable-power-down;
	};

	// cam_i2cmux {
	// 	compatible = "i2c-mux-gpio";
	// 	#address-cells = <1>;
	// 	#size-cells = <0>;
	// 	mux-gpios = <&tegra_aon_gpio CAM_I2C_MUX GPIO_ACTIVE_HIGH>;
	// 	i2c-parent = <&dp_aux_ch2_i2c>;

	// 	cam_i2c_0: i2c@0 {
	// 		reg = <0>;
	// 		#address-cells = <1>;
	// 		#size-cells = <0>;
	// 	};

	// 	cam_i2c_1: i2c@1 {
	// 		reg = <1>;
	// 		#address-cells = <1>;
	// 		#size-cells = <0>;
	// 	};
	// };

};

#define GMSL

#define GMSL_TEGRA_PORT			0

#define GMSL_DES_PHY			1
#define GMSL_DES_PHY_NUM_LANES		4

// #define GMSL_TEGRA_PORT			1
// #define GMSL_DES_PHY			0
// #define GMSL_DES_PHY_NUM_LANES		2 
#define GMSL_DES_PHY_LINK_FREQ		1250000000
//#define GMSL_DES_PHY_LINK_FREQ		750000000

#define GMSL_CAMERA_NUM			4
#define GMSL_DES_MAX96724
// #define GMSL_SER_0_MAX9295A
#define GMSL_SER_0_MAX96717
#define GMSL_SER_1_MAX96717
#define GMSL_SER_2_MAX96717
#define GMSL_SER_3_MAX96717

#define GMSL_CAM_0_TEGRA_OX03A
#define GMSL_CAM_1_TEGRA_OX03A
#define GMSL_CAM_2_TEGRA_OX03A
#define GMSL_CAM_3_TEGRA_OX03A


// #define GMSL_CAM_0_TEGRA_IMX219
// #define GMSL_TEGRA_LANE_POLARITY_SWAP

#define GMSL_CAM_0_DEFAULT_HEX_ADDR	0x1a
#define GMSL_CAM_1_DEFAULT_HEX_ADDR	0x1a
#define GMSL_CAM_2_DEFAULT_HEX_ADDR	0x1a
#define GMSL_CAM_3_DEFAULT_HEX_ADDR	0x1a

#define GMSL
#define GMSL_TEGRA_PLATFORM

// #if GMSL_TEGRA_PORT == 0 || GMSL_TEGRA_PORT == 1
// #define GMSL_DES_I2C_LABEL cam_i2c_0
// #elif GMSL_TEGRA_PORT == 2 || GMSL_TEGRA_PORT == 3
// #define GMSL_DES_I2C_LABEL cam_i2c_1
// #else
// #error
// #endif
#define GMSL_DES_I2C_LABEL  dp_aux_ch2_i2c

#if GMSL_TEGRA_PORT == 1
#define GMSL_TEGRA_LANE_POLARITY_SWAP
#endif

&GMSL_DES_I2C_LABEL {
	clock-frequency = <100000>;
};

#include <t234-common-cvb/gmsl/gmsl.dtsi>