Package: nvidia-l4t-display-kernel
Version: @VERSION@
Architecture: arm64
Maintainer: Seeed Studio <support@seeed.cc>
Section: kernel
Priority: optional
Installed-Size: @SIZE@
Depends: nvidia-l4t-kernel (= @VERSION@)
Provides: nvidia-l4t-display-kernel
Replaces: nvidia-l4t-display-kernel
Description: NVIDIA L4T display kernel modules (custom)
 Display driver kernel modules (nvidia display) for custom Jetson carrier boards.
