[submodule "source/kernel/kernel-jammy-src"]
	path = source/kernel/kernel-jammy-src
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/kernel-jammy-src
	branch = mybranch_2026-04-13-1776072626
[submodule "source/nvidia-oot"]
	path = source/nvidia-oot
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/nvidia-oot
	branch = mybranch_2026-04-13-1776072640
[submodule "source/hardware/nvidia/tegra/nv-public"]
	path = source/hardware/nvidia/tegra/nv-public
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/hardware/tegra
	branch = mybranch_2025-02-08-1738981711
[submodule "source/hardware/nvidia/t23x/nv-public"]
	path = source/hardware/nvidia/t23x/nv-public
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/hardware/t23x
	branch = mybranch_2026-04-13-1776072655
[submodule "source/nvdisplay"]
	path = source/nvdisplay
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/nvdisplay
	branch = mybranch_2026-04-13-1776072663
[submodule "source/dtc-src/1.4.5"]
	path = source/dtc-src/1.4.5
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/dtc-src
	branch = mybranch_2026-04-13-1776072667
[submodule "source/hwpm"]
	path = source/hwpm
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/hwpm
	branch = mybranch_2026-04-13-1776072644
[submodule "source/nvgpu"]
	path = source/nvgpu
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/nvgpu
	branch = mybranch_2026-04-13-1776072634
[submodule "source/nvethernetrm"]
	path = source/nvethernetrm
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/nvethernetrm
	branch = mybranch_2026-04-13-1776072648
[submodule "source/kernel-devicetree"]
	path = source/kernel-devicetree
	url = http://192.168.1.77:1080/awesome-se/jetson/jetpack/kernel-devicetree.git
	branch = mybranch_2025-02-08-1738981706
