/*
 * SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
 * SPDX-License-Identifier: LicenseRef-NvidiaProprietary
 *
 * NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
 * property and proprietary rights in and to this material, related
 * documentation and any modifications thereto. Any use, reproduction,
 * disclosure or distribution of this material and related documentation
 * without an express license agreement from NVIDIA CORPORATION or
 * its affiliates is strictly prohibited.
 */

// NOTE: This file was auto generated: No manual change must be made in this file
#if defined(ENABLE_DRAM_ECC_SBE) || defined (ENABLE_DRAM_ECC_DBE)
McSmmuBypassCarveoutCfg13 = <0xc0000000>;
#endif
