// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2023, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

/dts-v1/;

#include "tegra234-j501x-0000+p3701-0000.dts"
#include "tegra234-p3737-0000+p3701-xxxx-nv-common.dtsi"
#include "tegra234-p3701-0000.dtsi"
#include "tegra234-dcb-j501x-0000-p3701-0000.dtsi"

#include <dt-bindings/net/ti-dp83867.h>
/ {
	aliases {
		serial4 = "/bus@0/serial@3140000";
	};

	leds {
		status = "okay";
		compatible = "gpio-leds";

		led {
			label = "on-board:usr0";
			gpios = <&gpio TEGRA234_MAIN_GPIO(Q, 6) GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "cpu0";
			default-state = "off";
		};
	};


	sound {
		nvidia-audio-card,widgets =
				"Headphone", "tlv Headphone Jack",
				"Line", "tlv Line In";
		nvidia-audio-card,routing =
				"tlv Headphone Jack",       "tlv HPLOUT",
				"tlv Headphone Jack",       "tlv HPROUT",
				"tlv LINE1L",               "tlv Line In",
				"tlv LINE1R",               "tlv Line In";
		nvidia-audio-card,mclk-fs = <256>;

		nvidia-audio-card,dai-link@76 {
			status = "okay";

			format = "i2s";
			link-type = <C2C_LINK>;
			link-name = "ti-capture";
			bitclock-master;
			frame-master;
			i2s1_cpu: cpu {
				sound-dai = <&tegra_i2s1 I2S_DAP>;
			};
			codec {
					sound-dai = <&aic32x4 0>;
					prefix = "tlv";
			};
		};
	};

	bus@0 {

		aconnect@2900000 {
			ahub@2900800 {
				i2s@2901000 {
					ports {
						port@1 {
							endpoint {
								dai-format = "i2s";
								bitclock-master;
								frame-master;
								remote-endpoint = <&aic32x4_ep>;
							};
						};
					};
				};
			};
		};

		//Gigabit Ethernet
		ethernet@2310000 {
			status = "okay";
			nvidia,mac-addr-idx = <1>;
			nvidia,max-platform-mtu = <8000>;
			nvidia,pause_frames = <0>;
			nvidia,phy-reset-gpio = <&gpio TEGRA234_MAIN_GPIO(G, 5) 0>;
			phy-handle = <&phy>;
			phy-mode = "rgmii-id";		
		
			mdio {
				compatible = "nvidia,eqos-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				phy: phy@0 {
					reg = <0>;
					compatible = "ethernet-phy-ieee802.3-c22";
					tx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
					rx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
					ti,max-output-impedance;
				//	ti,clk-output-sel = <DP83867_CLK_O_SEL_CHN_A_RCLK>;
					ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_75_NS>;
					ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_75_NS>;
					interrupt-parent = <&gpio>;
					interrupts = <TEGRA234_MAIN_GPIO(G, 4) IRQ_TYPE_LEVEL_LOW>; //<TODO> Need to check
				};			
			};
		};
		
		pcie@14180000 {
					status = "okay";
					phys = <&p2u_hsio_0>;
					phy-names = "p2u-0";
		};

		i2c@3180000 {
			status = "okay";
			gpio_xten: gpio_xten@21 {
				compatible = "nxp,pca9535";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells=<2>;

				interrupt-parent = <&gpio>;
				interrupts = <TEGRA234_MAIN_GPIO(AC, 5) IRQ_TYPE_EDGE_FALLING>;

				gpio-line-names =
						"M2B_DPR"			,"M2B_P_OFF_N",
						"M2B_W_DIS2_N"		,"PCIe_WAKE",
						"SIM_MUC_SEL"		,"PCIe_SX1261_RST_N",
						"M2B_W_DIS1_N"		,"M2B_PCIe_RST_N",
						"CAN1_120R_EN"		,"CAN0_120R_EN",
						"TPM_RST"			,"TPM_IRQ",
						"CODEC_RST_N"		,"USB_HUB_RST_N",
						"CAM_VDD_SYS_EN"		,"UART2_EN";

				gpio-line-offsets = <0>, <1>, <2>, <3>, <4>, <5>, <6>, <7>, <8>, <9>, <10>, <11>, <12>, <13>, <14>, <15>;

				CAM_VDD_SYS_EN {
					gpios = <&gpio_xten 14 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "CAM_VDD_SYS_EN";
				};
			};
		};


		i2c@31e0000 {
			status = "okay";

			aic32x4: tlv320aic3104.1-001b@18 {
				compatible = "ti,tlv320aic3104";
				status = "okay";
				reg = <0x18>;
				clocks = <&bpmp TEGRA234_CLK_AUD_MCLK>;
				//clocks = <&tegra_car TEGRA186_CLK_AUD_MCLK>; 
				clock-names = "mclk";
				sound-name-prefix = "tlv";
				#sound-dai-cells = <1>;
	
				port {
					aic32x4_ep: endpoint {
						remote-endpoint = <&i2s1_dap>;
						mclk-fs = <256>;
					};
				};
			};
		};


		spi@c260000 {
			status = "okay";
			cs-gpios = <&gpio TEGRA234_MAIN_GPIO(M, 3) GPIO_ACTIVE_HIGH>,
						<&gpio_aon TEGRA234_AON_GPIO(CC, 3) GPIO_ACTIVE_HIGH>;
			num-cs = <2>;

			slb9670@0 {
				compatible = "infineon,slb9670";
				status = "okay";
				reg = <0x0>;
				spi-max-frequency = <10000000>;
				controller-data {
					nvidia,cs-setup-clk-count = <0x1e>;
					nvidia,cs-hold-clk-count = <0x1e>;
					nvidia,rx-clk-tap-delay = <0x7>;
					nvidia,tx-clk-tap-delay = <0x0>;
					nvidia,cs-inactive-cycles = <0x6>;
				};
			};
			spi@1 { /* chips select 1 */
				compatible = "tegra-spidev";
				reg = <0x1>;
				status = "okay";
				spi-max-frequency = <10000000>;
			};
		};

		//CAN0
		mttcan@c310000 {
			status = "okay";
		};

		//CAN1
		mttcan@c320000 {
			status = "okay";
		};

		pinmux@2430000 {
			pinctrl-names = "default";
			pinctrl-0 = <&jetson_io_pinmux>;
			jetson_io_pinmux: exp-header-pinmux {
				uart5_tx_py5 {
						nvidia,pins = "uart5_tx_py5";
						nvidia,function = "uarte";
						nvidia,pull = <TEGRA_PIN_PULL_NONE>;
						nvidia,tristate = <TEGRA_PIN_DISABLE>;
						nvidia,enable-input = <TEGRA_PIN_DISABLE>;
						nvidia,lpdr = <TEGRA_PIN_DISABLE>;
				};

				uart5_rx_py6 {
						nvidia,pins = "uart5_rx_py6";
						nvidia,function = "uarte";
						nvidia,pull = <TEGRA_PIN_PULL_NONE>;
						nvidia,tristate = <TEGRA_PIN_ENABLE>;
						nvidia,enable-input = <TEGRA_PIN_ENABLE>;
						nvidia,lpdr = <TEGRA_PIN_DISABLE>;
				};

				uart5_rts_py7 {
						nvidia,pins = "uart5_rts_py7";
						nvidia,function = "uarte";
						nvidia,pull = <TEGRA_PIN_PULL_UP>;
						nvidia,tristate = <TEGRA_PIN_DISABLE>;
						nvidia,enable-input = <TEGRA_PIN_DISABLE>;
						nvidia,lpdr = <TEGRA_PIN_DISABLE>;
				};

				uart5_cts_pz0 {
						nvidia,pins = "uart5_cts_pz0";
						nvidia,function = "uarte";
						nvidia,pull = <TEGRA_PIN_PULL_NONE>;
						nvidia,tristate = <TEGRA_PIN_ENABLE>;
						nvidia,enable-input = <TEGRA_PIN_ENABLE>;
						nvidia,lpdr = <TEGRA_PIN_DISABLE>;
				};
			};
		};

		/// ttyTHS4
		serial@3140000 {
			compatible = "nvidia,tegra194-hsuart";
			reset-names = "serial";
			status = "okay";
		};

		//ttyTHS0 for M.2 KEY-B (4G/5G)
		//no need config
	};
};