#DEBUG CONFIGS
CONFIG_LOCALVERSION="-debug"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_LOG_BUF_SHIFT=18
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_PM_DEBUG=y
CONFIG_UBSAN=y
CONFIG_DEBUG_MUTEX=y
CONFIG_TEGRA_HV_XHCI_DEBUG=y
CONFIG_TEGRA_PM_DEBUG=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DEBUG_EFI=y
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_CORESIGHT_STM=y
CONFIG_FAULT_INJECTION=y
CONFIG_MEMTEST=y
CONFIG_PM_DEBUG=y
CONFIG_SCHED_DEBUG=y
CONFIG_STM=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_STRICT_DEVMEM=n
CONFIG_IO_STRICT_DEVMEM=n
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_RANDOMIZE_BASE=n
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_SG=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_DEBUG_CREDENTIALS=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_TEGRA_HSIERRRPTINJ=y
CONFIG_KGDB=y
CONFIG_KGDB_KDB=y
CONFIG_KDB_KEYBOARD=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_RCU_TORTURE_TEST=m
CONFIG_LOCK_TORTURE_TEST=m
# CONFIG_DYNAMIC_FTRACE is not set
CONFIG_FUNCTION_GRAPH_TRACER=y
