// SPDX-License-Identifier: GPL-2.0-only
// Copyright (c) 2022-2023, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.
//
// This file contains the DT nodes of T234 which are not in base/tegra234.dtsi

/dts-v1/;
/plugin/;

/ {
	fragment-t234-android@0 {
		target-path = "/";
		 __overlay__ {
			firmware {
				android {
					compatible = "android,firmware";
					first_stage_delay = "1";
				};
			};

			chosen {
				use_dts_cmdline;
				bootargs ="androidboot.boot_devices=bus@0/3460000.mmc enforcing=0 androidboot.selinux=permissive console=ttyTCU0,115200 rootfstype=ext4 mminit_loglevel=4 androidboot.slot_suffix=_a androidboot.hypervisor=disabled androidboot.verifiedbootstate=orange androidboot.hardware=t234ref loop.max_part=7 firmware_class.path=/vendor/firmware";
			};

			bus@0 {
				ethernet@6800000 {
					status = "okay";
				};

				ethernet@6900000 {
					status = "okay";
				};

				ethernet@6a00000 {
					status = "okay";
				};

				ethernet@6b00000 {
					status = "okay";
				};

				usb@3610000 {
					status = "disabled";
				};

				/* SPI1, 40pin header, Pin 19(MOSIsdd, Pin 21(MISO), Pin 23(CLK), Pin 24(CS) */
				spi@3210000 {
					status = "okay";
					spi@0 {
						compatible = "tegra-spidev";
						reg = <0x0>;
						spi-max-frequency = <50000000>;
						controller-data {
							nvidia,enable-hw-based-cs;
							nvidia,rx-clk-tap-delay = <0x10>;
							nvidia,tx-clk-tap-delay = <0x0>;
						};
					};
					spi@1 {
						compatible = "tegra-spidev";
						reg = <0x1>;
						spi-max-frequency = <50000000>;
						controller-data {
							nvidia,enable-hw-based-cs;
							nvidia,rx-clk-tap-delay = <0x10>;
							nvidia,tx-clk-tap-delay = <0x0>;
						};
					};

				};

				/* SPI3, 40pin header, Pin 37(MOSI), Pin 22(MISO), Pin 13(CLK), Pin 18(CS) */
				spi@3230000 {
					status = "okay";
					spi@0 {
						compatible = "tegra-spidev";
						reg = <0x0>;
						spi-max-frequency = <50000000>;
						controller-data {
							nvidia,enable-hw-based-cs;
							nvidia,rx-clk-tap-delay = <0x10>;
							nvidia,tx-clk-tap-delay = <0x0>;
						};
					};
					spi@1 {
						compatible = "tegra-spidev";
						reg = <0x1>;
						spi-max-frequency = <50000000>;
						controller-data {
							nvidia,enable-hw-based-cs;
							nvidia,rx-clk-tap-delay = <0x10>;
							nvidia,tx-clk-tap-delay = <0x0>;
						};
					};
				};

				serial@3100000 {
					dma-coherent;
					dmas = <&gpcdma 8>, <&gpcdma 8>;
					dma-names = "rx", "tx";
				};

				serial@3110000 {
					dma-coherent;
					dmas = <&gpcdma 8>, <&gpcdma 8>;
					dma-names = "rx", "tx";
				};

				serial@3140000 {
					dma-coherent;
					dmas = <&gpcdma 8>, <&gpcdma 8>;
					dma-names = "rx", "tx";
				};
			};
		};
	};

	fragment-t234-android@1 {
		target-path = "/bus@0/mmc@3400000";
		delete_prop = "sd-uhs-ddr50";
	};
};
