Package: nvidia-l4t-kernel-dtbs
Version: @VERSION@
Architecture: arm64
Maintainer: Seeed Studio <support@seeed.cc>
Section: kernel
Priority: optional
Installed-Size: @SIZE@
Depends: nvidia-l4t-core (>= 36.4.0)
Provides: nvidia-l4t-kernel-dtbs
Replaces: nvidia-l4t-kernel-dtbs
Description: NVIDIA L4T kernel device tree blobs (custom)
 Device tree blobs and overlays for custom Jetson carrier boards.
