// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2023, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

/dts-v1/;

#include "tegra234-j401-p3768-0000+p3767-recomputer-robo-common.dts"
//#include "tegra234-camera-quad-g300-overlay.dts"
// #include "tegra234-camera-quad-isx031c-overlay.dts"


#define CAM0_RST_L	TEGRA234_AON_GPIO(CC, 3)
#define CAM0_PWDN   TEGRA234_MAIN_GPIO(H, 6)
#define MFP9 TEGRA234_MAIN_GPIO(AC, 0)
#define MFP10  TEGRA234_MAIN_GPIO(Z, 7)

/ {
        compatible = "nvidia,p3768-0000+p3767-0001-super", "nvidia,p3767-0001", "nvidia,tegra234";
        model = "NVIDIA Jetson Orin Nano Seeed recomputer classic Robotics";

        leds {
                compatible = "gpio-leds";
                led1: led1 {
                        label = "led1";
                        gpios = <&gpio_xten 6 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
                };
        };
        bus@0 {
			/* GPIO configuration */
			gpio@2200000 {
				camera-control-output-high {
					gpio-hog;
					output-high;
					gpios = <CAM0_PWDN 0 MFP9 0 MFP10 0>;
					label = "cam0-pwdn", "mfp9", "mfp10";
				};
			};

			/* I2C configuration */
			// i2c@3180000 {
			// 	status = "okay";
			// 	clock-frequency = <400000>;

			// 	#address-cells = <1>;
			// 	#size-cells = <0>;

			// 	eeprom@57 {
			// 			compatible = "atmel,24c02";
			// 			reg = <0x57>;
			// 			/*8 bit*/
			// 			address-width = <0x08>;
			// 			/*256 bytes */
			// 			size = <0x100>;
			// 	};

				// des: gmsl-deserializer@29 {
				// 	#address-cells = <1>;
				// 	#size-cells = <0>;


				// 	compatible = "maxim,max96712";
				// 	reset-gpios = <&gpio TEGRA234_MAIN_GPIO(H, 6) GPIO_ACTIVE_HIGH>;
				// 	reg = <0x29>;
				// 	status = "okay";
				// };
			// };

		gpio@c2f0000 {
			camera-control-output-high2 {
				gpio-hog;
				output-high;
				gpios = <CAM0_RST_L 0>;
				label = "cam0-rst";
			};
		};   

		i2c@3180000 {
			status = "okay";
			mux_cam_i2c: cam_i2cmux@70 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;
				idle-state = <0>;
				i2c@0{
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};
			}; 
		};
            
     };
};


#define GMSL

#define GMSL_TEGRA_PORT                 2

#define GMSL_DES_PHY                    1
#define GMSL_DES_PHY_NUM_LANES          4

// #define GMSL_TEGRA_PORT                      1
// #define GMSL_DES_PHY                 0
// #define GMSL_DES_PHY_NUM_LANES               2 
#define GMSL_DES_PHY_LINK_FREQ          1250000000
//#define GMSL_DES_PHY_LINK_FREQ                750000000

#define GMSL_CAMERA_NUM                 4
#define GMSL_DES_MAX96712

// #define GMSL_MODE_3G
#define GMSL_MODE_6G

#define GMSL_SER_0_MAX9295A
#define GMSL_SER_1_MAX9295A
#define GMSL_SER_2_MAX9295A
#define GMSL_SER_3_MAX9295A

// #define GMSL_SER_0_MAX96717
// #define GMSL_SER_1_MAX96717
// #define GMSL_SER_2_MAX96717
// #define GMSL_SER_3_MAX96717

#define GMSL_CAM_0_TEGRA_OX03A
#define GMSL_CAM_1_TEGRA_OX03A
#define GMSL_CAM_2_TEGRA_OX03A
#define GMSL_CAM_3_TEGRA_OX03A


// #define GMSL_CAM_0_TEGRA_IMX219
// #define GMSL_TEGRA_LANE_POLARITY_SWAP

#define GMSL_CAM_0_DEFAULT_HEX_ADDR     0x1a
#define GMSL_CAM_1_DEFAULT_HEX_ADDR     0x1a
#define GMSL_CAM_2_DEFAULT_HEX_ADDR     0x1a
#define GMSL_CAM_3_DEFAULT_HEX_ADDR     0x1a

#define GMSL
#define GMSL_TEGRA_PLATFORM

// #if GMSL_TEGRA_PORT == 0 || GMSL_TEGRA_PORT == 1
// #define GMSL_DES_I2C_LABEL cam_i2c_0
// #elif GMSL_TEGRA_PORT == 2 || GMSL_TEGRA_PORT == 3
// #define GMSL_DES_I2C_LABEL cam_i2c_1
// #else
// #error
// #endif

#define GMSL_DES_I2C_LABEL  cam_i2c
// #define GMSL_DES_I2C_LABEL mux_cam_i2c

// #if GMSL_TEGRA_PORT == 1
#define GMSL_TEGRA_LANE_POLARITY_SWAP
// #endif

// &GMSL_DES_I2C_LABEL {
//         clock-frequency = <100000>;
// };
// #include "gmsl1x4/gmsl.dtsi"

