// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2024, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.
/dts-v1/;

#include "tegra264-p3834-0008.dtsi"
#include "tegra264-p3971-0089.dtsi"

/ {
	model = "NVIDIA Jetson Thor Developer Kit";
	compatible = "nvidia,p3971-0089+p3834-0008", "nvidia,p3834-0008", "nvidia,tegra264";
	bus@0 {
		sys-cbb-fabric@800000 {
			status = "okay";
		};

		top0-cbb-fabric@8100800000 {
			status = "okay";
		};

		padctl@a808680000 {
			status = "okay";
			pads {
				usb2 {
					lanes {
						usb2-0 {
							status = "okay";
						};
						usb2-1 {
							status = "okay";
						};
						usb2-2 {
							status = "okay";
						};
						usb2-3 {
							status = "okay";
						};
					};
				};
			};

			ports {
				usb2-0 {
					mode = "peripheral";
                                        vbus-supply = <&vdd_5v_ao_cvb>;
                                        usb-role-switch;
                                        role-switch-default-mode = "peripheral";
                                        status = "okay";
				};
				usb2-1 {
					mode = "host";
					status = "okay";
				};
				usb2-2 {
					mode = "host";
					status = "okay";
				};
				usb2-3 {
					mode = "host";
					status = "okay";
				};
			};
		};

		usb@a808670000 {
			phys = <&{/bus@0/padctl@a808680000/pads/usb2/lanes/usb2-0}>;
			phy-names = "usb2-0";
			status = "okay";
		};

		usb@a80aa10000 {
			phys = <&{/bus@0/padctl@a808680000/pads/usb2/lanes/usb2-1}>,
				<&{/bus@0/padctl@a808680000/pads/usb2/lanes/usb2-2}>,
				<&{/bus@0/padctl@a808680000/pads/usb2/lanes/usb2-3}>;
			phy-names = "usb2-1", "usb2-2", "usb2-3";
			status = "okay";
		};
	};

	pwm-fan {
		cooling-levels = <66 215 255>;
	};

	thermal-zones {
                tj-thermal {
                        cooling-maps {
                                map-active-0 {
                                        cooling-device = <&soc_fan 0 1>;
                                        trip = <&tj_trip_active0>;
                                };

                                map-active-1 {
                                        cooling-device = <&soc_fan 1 2>;
                                        trip = <&tj_trip_active1>;
                                };
                        };
                };
        };
};

/* Add minimal dtsi at the End of the file */
#include "tegra264-p3971-0089+p3834-0008-qspi-ufs-minimal.dtsi"
