// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2024-2025, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.
/dts-v1/;

#include "tegra264-p3834-0008.dtsi"
#include "tegra264-p4071-0000.dtsi"

/ {
	model = "Seeed reComputer Carrier j601 board";
	compatible = "nvidia,p4071-0000+p3834-0008", "nvidia,p3834-0008", "nvidia,tegra264";
	
	bus@0 {
		mttcan@81102f0000 {
			status = "okay";
		};
		
		mttcan@8110300000 {
			status = "okay";
		};
		
		mttcan@8110330000 {
			status = "okay";
		};
		
		mttcan@8110340000 {
			status = "okay";
		};
		
		mgbe0: ethernet@a808a10000 {
			status = "okay";
		};
		
		mgbe1: ethernet@a808b10000 {
			status = "okay";
		};
		
		mgbe2: ethernet@a808d10000 {
			status = "okay";
		};
		
		mgbe3: ethernet@a808e10000 {
			status = "okay";
		};
		
		serial@810c530000 {
			linux,rs485-enabled-at-boot-time;
			rs485-rts-active-low;
			rs485-rts-delay = <0 0>;
		};
		
		serial@810c540000 {
			rs485-rts-active-low;
			rs485-rts-delay = <0 0>;
		};
		
		i2c@810c630000 {
			status = "okay";
			
			pcf8563@51 {
				compatible = "nxp,pcf8563";
				reg = <0x51>;
			};
			
			gpio_xten: gpio_xten@21 {
				compatible = "nxp,pca9535";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <16>;
				interrupt-parent = <&gpio_main>;
				interrupts = <TEGRA264_MAIN_GPIO(L, 4) IRQ_TYPE_EDGE_FALLING>;
				
				line-names =
				"CAN0_120R", "CAN1_120R",
				"CAN2_120R_EN", "CAN3_120R_EN",
				"RS485_120R_EN", "UART2_EN",
				"UART1_EN", "",
				"", "",
				"USB_HUB_RSTn", "AUDIO_RSTn",
				"M2B_RSTn", "",
				"", "";
				
				can0_120r {
					gpios = <0 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "CAN0_120R";
				};
				
				can1_120r {
					gpios = <1 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "CAN1_120R";
				};
				
				can2_120r_en {
					gpios = <2 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "CAN2_120R_EN";
				};
				
				can3_120r_en {
					gpios = <3 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "CAN3_120R_EN";
				};
				
				rs485_120r_en {
					gpios = <4 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "RS485_120R_EN";
				};
				
				uart2_en {
					gpios = <5 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "UART2_EN";
				};
				
				uart1_en {
					gpios = <6 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "UART1_EN";
				};
				
				usb_hub_rstn {
					gpios = <10 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "USB_HUB_RSTn";
				};
				
				audio_rstn {
					gpios = <11 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "AUDIO_RSTn";
				};
				
				m2b_rstn {
					gpios = <12 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "M2B_RSTn";
				};
			};
		};
		
		i2c@810c680000 {
			status = "okay";
			
			rt5640: audio-codec@1c {
				status = "disabled";
			};
			
			tlv320aic3104: audio-codec@18 {
				compatible = "ti,tlv320aic3104";
				reg = <0x18>;
				AVDD-supply = <&vdd_3v3_cvb>;
				IOVDD-supply = <&vdd_3v3_cvb>;
				DRVDD-supply = <&vdd_3v3_cvb>;
				DVDD-supply = <&vdd_1v8_cvb>;
				
				clocks = <&bpmp TEGRA264_CLK_AUD_MCLK>;
				clock-names = "mclk";
				
				/* Enable MICBIAS for headset microphone */
				ai3x-micbias-vg = <3>; /* MICBIAS_AVDD = connected to AVDD (3.3V) */
				
				sound-name-prefix = "TLV320";
				#sound-dai-cells = <1>;
				status = "okay";
				
				port {
					aic3104_ep: endpoint {
						link-name = "tlv320-playback";
						remote-endpoint = <&i2s4_dap>;
						// mclk-fs = <256>;
						system-clock-frequency = <24576000>;
					};
				};
			};
		};
	};
	
	sound {
		status = "okay";
		
		dais = /* ADMAIF (FE) Ports */
		<&admaif0_port>, <&admaif1_port>, <&admaif2_port>, <&admaif3_port>,
		<&admaif4_port>, <&admaif5_port>, <&admaif6_port>, <&admaif7_port>,
		<&admaif8_port>, <&admaif9_port>, <&admaif10_port>, <&admaif11_port>,
		<&admaif12_port>, <&admaif13_port>, <&admaif14_port>, <&admaif15_port>,
		<&admaif16_port>, <&admaif17_port>, <&admaif18_port>, <&admaif19_port>,
		<&admaif20_port>, <&admaif21_port>, <&admaif22_port>, <&admaif23_port>,
		<&admaif24_port>, <&admaif25_port>, <&admaif26_port>, <&admaif27_port>,
		<&admaif28_port>, <&admaif29_port>, <&admaif30_port>, <&admaif31_port>,
		/* XBAR Ports */
		<&xbar_i2s1_port>, <&xbar_i2s4_port>,
		<&xbar_sfc1_in_port>, <&xbar_sfc2_in_port>,
		<&xbar_sfc3_in_port>, <&xbar_sfc4_in_port>,
		<&xbar_mvc1_in_port>, <&xbar_mvc2_in_port>,
		<&xbar_amx1_in1_port>, <&xbar_amx1_in2_port>,
		<&xbar_amx1_in3_port>, <&xbar_amx1_in4_port>,
		<&xbar_amx2_in1_port>, <&xbar_amx2_in2_port>,
		<&xbar_amx2_in3_port>, <&xbar_amx2_in4_port>,
		<&xbar_amx3_in1_port>, <&xbar_amx3_in2_port>,
		<&xbar_amx3_in3_port>, <&xbar_amx3_in4_port>,
		<&xbar_amx4_in1_port>, <&xbar_amx4_in2_port>,
		<&xbar_amx4_in3_port>, <&xbar_amx4_in4_port>,
		<&xbar_amx5_in1_port>, <&xbar_amx5_in2_port>,
		<&xbar_amx5_in3_port>, <&xbar_amx5_in4_port>,
		<&xbar_amx6_in1_port>, <&xbar_amx6_in2_port>,
		<&xbar_amx6_in3_port>, <&xbar_amx6_in4_port>,
		<&xbar_adx1_in_port>, <&xbar_adx2_in_port>,
		<&xbar_adx3_in_port>, <&xbar_adx4_in_port>,
		<&xbar_adx5_in_port>, <&xbar_adx6_in_port>,
		<&xbar_mix_in1_port>, <&xbar_mix_in2_port>,
		<&xbar_mix_in3_port>, <&xbar_mix_in4_port>,
		<&xbar_mix_in5_port>, <&xbar_mix_in6_port>,
		<&xbar_mix_in7_port>, <&xbar_mix_in8_port>,
		<&xbar_mix_in9_port>, <&xbar_mix_in10_port>,
		<&xbar_asrc_in1_port>, <&xbar_asrc_in2_port>,
		<&xbar_asrc_in3_port>, <&xbar_asrc_in4_port>,
		<&xbar_asrc_in5_port>, <&xbar_asrc_in6_port>,
		<&xbar_asrc_in7_port>,
		<&xbar_ope1_in_port>,
		/* HW accelerators */
		<&sfc1_out_port>, <&sfc2_out_port>,
		<&sfc3_out_port>, <&sfc4_out_port>,
		<&mvc1_out_port>, <&mvc2_out_port>,
		<&amx1_out_port>, <&amx2_out_port>,
		<&amx3_out_port>, <&amx4_out_port>,
		<&amx5_out_port>, <&amx6_out_port>,
		<&adx1_out1_port>, <&adx1_out2_port>,
		<&adx1_out3_port>, <&adx1_out4_port>,
		<&adx2_out1_port>, <&adx2_out2_port>,
		<&adx2_out3_port>, <&adx2_out4_port>,
		<&adx3_out1_port>, <&adx3_out2_port>,
		<&adx3_out3_port>, <&adx3_out4_port>,
		<&adx4_out1_port>, <&adx4_out2_port>,
		<&adx4_out3_port>, <&adx4_out4_port>,
		<&adx5_out1_port>, <&adx5_out2_port>,
		<&adx5_out3_port>, <&adx5_out4_port>,
		<&adx6_out1_port>, <&adx6_out2_port>,
		<&adx6_out3_port>, <&adx6_out4_port>,
		<&mix_out1_port>, <&mix_out2_port>, <&mix_out3_port>,
		<&mix_out4_port>, <&mix_out5_port>,
		<&asrc_out1_port>, <&asrc_out2_port>, <&asrc_out3_port>,
		<&asrc_out4_port>, <&asrc_out5_port>, <&asrc_out6_port>,
		<&ope1_out_port>,
		/* BE I/O Ports */
		<&i2s1_port>, <&i2s4_port>;
		
		label = "NVIDIA Jetson Thor AGX APE";
		
		widgets =
		"Headphone", "TLV320 Headphone Jack",
		"Line", "TLV320 Line In";

		assigned-clocks = <&bpmp TEGRA264_CLK_PLLA_OUT0>, <&bpmp TEGRA264_CLK_AUD_MCLK>;
		assigned-clock-parents = <&bpmp TEGRA264_CLK_PLLA>, <&bpmp TEGRA264_CLK_PLLA_OUT0>;
		assigned-clock-rates = <0>, <24576000>;
		routing =
		"TLV320 Playback",         "I2S4 DAP-Playback",
		"I2S4 DAP-Capture",        "TLV320 Capture",
		"TLV320 Headphone Jack",	"TLV320 HPLOUT",
		"TLV320 Headphone Jack",	"TLV320 HPROUT",
		"TLV320 LINE1L",			"TLV320 Line In",
		"TLV320 LINE1R",			"TLV320 Line In";
	};
	
	pwm@810c5e0000 {
		status = "disabled";
	};
	
	pwm@810c5f0000 {
		status = "disabled";
	};
	
	pwm@810c600000 {
		status = "disabled";
	};
	
	pwm-fan {
		cooling-levels = <77 102 140 192 255>;
	};
	
	thermal-shutdown-alert {
		status = "disabled";
	};
	
	thermal-zones {
		tj-thermal {
			trips {
				tj_trip_active0: active-0 {
					temperature = <80000>;
					hysteresis = <0>;
					type = "active";
				};
				
				tj_trip_active1: active-1 {
					temperature = <86000>;
					hysteresis = <0>;
					type = "active";
				};
				
				tj_trip_active2: active-2 {
					temperature = <91000>;
					hysteresis = <0>;
					type = "active";
				};
				
				tj_trip_active3: active-3 {
					temperature = <100000>;
					hysteresis = <0>;
					type = "active";
				};
			};
			
			cooling-maps {
				map-active-0 {
					cooling-device = <&soc_fan 0 1>;
					trip = <&tj_trip_active0>;
				};
				
				map-active-1 {
					cooling-device = <&soc_fan 1 2>;
					trip = <&tj_trip_active1>;
				};
				
				map-active-2 {
					cooling-device = <&soc_fan 2 3>;
					trip = <&tj_trip_active2>;
				};
				
				map-active-3 {
					cooling-device = <&soc_fan 3 4>;
					trip = <&tj_trip_active3>;
				};
			};
		};
	};
	
	leds {
		compatible = "gpio-leds";
		
		blue_led: blue {
			label = "blue";
			gpios = <&gpio_main TEGRA264_MAIN_GPIO(L, 1) GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		
		green_led: green {
			label = "green";
			gpios = <&gpio_main TEGRA264_MAIN_GPIO(F, 7) GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		
		red_led: red {
			label = "red";
			gpios = <&gpio_main TEGRA264_MAIN_GPIO(G, 0) GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

&i2s4_dap {
	dai-format = "i2s";
	remote-endpoint = <&aic3104_ep>;
};
