// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2022-2024, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

#include "tegra234-p3701-0000-prod-overlay.dtsi"

#define TEGRA234_TMP451_SHUTDOWN_TEMP 106500

/ {
	bus@0 {
		spi@3270000 {
			flash@0 {
				spi-max-frequency = <51000000>;
				spi-tx-bus-width = <1>;
				spi-rx-bus-width = <1>;
			};
		};

		nvrng@3ae0000 {
			status = "okay";
		};
	};

	bpmp {
		i2c {
			vrs@3c {
				compatible = "nvidia,vrs-pseq";
				reg = <0x3c>;
				interrupt-parent = <&pmc>;
				/* VRS Wake ID is 24 */
				interrupts = <24 IRQ_TYPE_LEVEL_LOW>;
				interrupt-controller;
				#interrupt-cells = <2>;
				status = "okay";
			};

			tegra_tmp451: thermal-sensor@4c {
				compatible = "ti,tmp451";
				reg = <0x4c>;
				vcc-supply = <&vdd_1v8_ao>;
				#thermal-sensor-cells = <1>;
				status = "okay";
			};

			vrs11_1@20 {
				compatible = "nvidia,vrs11";
				reg = <0x20>;
				rail-name-loopA = "GPU";
				rail-name-loopB = "CPU";
			};

			vrs11_2@22 {
				compatible = "nvidia,vrs11";
				reg = <0x22>;
				rail-name-loopA = "SOC";
				rail-name-loopB = "CV";
			};
		};
	};

	thermal-zones {
		tboard-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <1000>;
			thermal-sensors = <&tegra_tmp451 0>;
			status = "okay";

			trips {
				tboard-shutdown {
					temperature = <TEGRA234_TMP451_SHUTDOWN_TEMP>;
					hysteresis = <0>;
					type = "critical";
				};
			};
		};

		tdiode-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <1000>;
			thermal-sensors = <&tegra_tmp451 1>;
			status = "okay";

			trips {
				tdiode-shutdown {
					temperature = <TEGRA234_TMP451_SHUTDOWN_TEMP>;
					hysteresis = <0>;
					type = "critical";
				};
			};
		};
	};

	eeprom-manager {
		bus@0 {
			i2c-bus = <&gen1_i2c>;
			eeprom@0 {
				slave-address = <0x50>;
				label = "cvm";
			};
		};
	};

	reserved-memory {
		linux,cma { /* Needed for nvgpu comptags */
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x10000000>; /* 256MB */
			alignment = <0x0 0x10000>;
			linux,cma-default;
			status = "okay";
		};
	};
};
