// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2024, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

/ {
	bus@0 {
		aocluster@c000000 {
			status = "disabled";

			aon@c040000 {
				status = "disabled";
			};
		};

		aconnect@9000000 {
			status = "disabled";

			ahub@9630000 {
				status = "disabled";
			};

			adsp@9080000 {
				status = "disabled";
			};

			adsp1@9180000 {
				status = "disabled";
			};
		};

		tegra_soc_hwpm@1604000 {
			status = "disabled";
		};

		i2c@810c680000 {
			audio-codec@1c {
				status = "disabled";
			};
		};

		hda@88090b0000 {
			status = "disabled";
		};

		pcie@a808460000 {
			status = "disabled";
		};
	};

	sound {
		status = "disabled";
	};
};
