// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2024, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.
/dts-v1/;

#include "tegra264-p3834-0005.dtsi"
#include "tegra264-p3971-0050.dtsi"

/ {
	model = "NVIDIA Jetson Thor Developer Kit";
	compatible = "nvidia,p3971-0050+p3834-0005", "nvidia,p3834-0005", "nvidia,tegra264";

	bus@0 {
		/* C3 M.2 Key M(J1) */
		pcie@a808440000 {
			status = "okay";
		};
	};

	pwm-fan {
		cooling-levels = <66 215 255>;
	};

	thermal-zones {
                tj-thermal {
                        cooling-maps {
                                map-active-0 {
                                        cooling-device = <&soc_fan 0 1>;
                                        trip = <&tj_trip_active0>;
                                };

                                map-active-1 {
                                        cooling-device = <&soc_fan 1 2>;
                                        trip = <&tj_trip_active1>;
                                };
                        };
                };
        };
};

/* Add minimal dtsi at the End of the file */
#include "tegra264-p3971-0050+p3834-0005-qspi-nvme-minimal.dtsi"
