// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2024, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

/ {
	bus@0 {
		pcie@a808400000 {
			status = "disabled";
		};

		pcie@a808420000 {
			status = "disabled";
		};

		pcie@a808460000 {
			status = "disabled";
		};

		pwm@810c600000 {
			status = "disabled";
		};

		pwm@810c620000 {
			status = "disabled";
		};

		tachometer@810c5c0000 {
			status = "disabled";
		};

		spi@810c440000 {
			status = "disabled";
		};

		spi@c6c0000 {
			status = "disabled";
		};

		spi@810c590000 {
			status = "disabled";
		};

		crypto@8188110000 {
			status = "disabled";
		};

		crypto@8188120000 {
			status = "disabled";
		};

		crypto@8188140000 {
			status = "disabled";
		};

		crypto@8189880000 {
			status = "disabled";
		};
	};
};
