// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2024, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

#include "tegra264.dtsi"

/ {
	bus@0 {
		i2c@810c640000 {
			status = "okay";
			/* CVB EEPROM */
			eeprom@56 {
				compatible = "atmel,24c02";
				reg = <0x50>;

				label = "system";
				address-width = <8>;
				pagesize = <8>;
				size = <256>;
				read-only;
			};
		};

		/* 40-pin header. PIN: 3, 5 */
		i2c@810c6d0000 {
			status = "okay";
		};

		/* 40-pin header. PIN: 27, 28 */
		i2c@c600000 {
			status = "okay";
			ina3221@40 {
				compatible = "ti,ina3221";
				reg = <0x40>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				channel@0 {
					reg = <0x0>;
					label = "VDD_GPU";
					shunt-resistor-micro-ohms = <2000>;
				};
				channel@1 {
					reg = <0x1>;
					label = "VDD_CPU_SOC_MSS";
					shunt-resistor-micro-ohms = <2000>;
				};
				channel@2 {
					reg = <0x2>;
					label = "VIN_SYS_5V0";
					shunt-resistor-micro-ohms = <2000>;
					ti,summation-disable;
				};
			};
		};

		/* 40-pin header. PIN: 8, 9, 10, 36*/
		serial@810c530000 {
			status = "okay";
		};

		/* 40-pin header. PIN: 13 */
		pwm@810c610000 {
			status = "okay";
		};

		/* 40-pin header. PIN: 15 */
		pwm@810c5e0000 {
			status = "okay";
		};

		/* 40-pin header. PIN: 18 */
		pwm@810c600000 {
			status = "okay";
		};

		/* SoC FAN */
		pwm@c6a0000 {
			status = "okay";
		};

		/* NVME FAN */
		pwm@810c5f0000 {
			status = "okay";
		};

		/* SoC FAN-TACH */
		tachometer@810c5c0000 {
			status = "okay";
		};

		gpio@cf00000 {
			status = "okay";
		};

		gpio@a808300000 {
			status = "okay";
		};

		gpio@810c300000 {
			status = "okay";
		};

		pinmux@810c281000 {
			status = "okay";
		};

		pinmux@a8082e0000 {
			status = "okay";
		};

		pinmux@c7a2000 {
			status = "okay";
		};

		spi@810c440000 {
			status = "okay";

			prod-settings {
				prod {
					nvidia,spi-misc-clk-override = <0x0>;
				};
			};
		};

		spi@810c590000 {
			status = "okay";

			prod-settings {
				prod {
					nvidia,spi-misc-clk-override = <0x0>;
				};
			};
		};

		spi@810c5b0000 {
			status = "okay";

			flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				spi-max-frequency = <102000000>;
				spi-tx-bus-width = <4>;
				spi-rx-bus-width = <4>;
			};
		};

		iommu@8105000000 {
			status = "okay";
		};

		iommu@8106000000 {
			status = "okay";
		};

		iommu@810a000000 {
			status = "okay";
		};

		iommu@810b000000 {
			status = "okay";
		};

		iommu@8806000000 {
			status = "okay";
		};

		pmc@c800000 {
			status = "okay";
		};

		efuse@1000000 {
			status = "okay";
		};

		tegra_soc_hwpm@1604000 {
			status = "okay";
		};

		tegra-utc@c5a0000 {
			status = "okay";
		};

		rtc@c2c0000 {
			status = "okay";
		};

		tegra-hsp@8800000 {
			status = "okay";
		};

		tegra-hsp@8c00000 {
			status = "okay";
		};

		tegra-hsp@8189100000 {
			status = "okay";
		};

		tegra-hsp@8189200000 {
			status = "okay";
		};

		serial@810c500000 {
			status = "okay";
		};

		serial@810c510000 {
			status = "okay";
		};

		serial@810c530000 {
			status = "okay";
		};

		serial@810c540000 {
			status = "okay";
		};

		memory-controller@8108020000 {
			status = "okay";

			external-memory-controller@8108800000 {
				status = "okay";
			};
		};

		memory-controller-hwpm@8108020000 {
			status = "okay";
		};

		memory-controller-err@8108020000 {
			status = "okay";
		};

		/* PCIe C0 ecam generic node for iGPU */
		pcie@d0b0000000 {
			status = "okay";
		};

		mc_carveout@8108020000 {
			status = "okay";
		};

		dma-controller@8400000 {
			status = "okay";
		};

		crypto@8188110000 {
			status = "okay";
		};

		crypto@8188120000 {
			status = "okay";
		};

		crypto@8188140000 {
			status = "okay";
		};

		crypto@8189880000 {
			status = "okay";
		};
	};

	eeprom-manager {
		data-size = <0x100>;
		bus@0 {
			i2c-bus = <&i2c1>;
			eeprom@0 {
				slave-address = <0x50>;
				label = "cvm";
			};
		};

		bus@1 {
			i2c-bus = <&pwr_i2c>;
			eeprom@0 {
				slave-address = <0x4c>;
				label = "thermal_sensor";
			};
		};
	};

	bpmp {
		status = "okay";
		i2c {
			status = "okay";
			tegra_tmp451: thermal-sensor@4c {
				compatible = "ti,tmp451";
				status = "okay";

				reg = <0x4c>;
				#thermal-sensor-cells = <1>;
			};
		};
	};

	chosen {
		bootargs = "BOOT_IMAGE=/EFI/BOOT/Image tegra_keep_boot_clocks clk_ignore_unused earlyprintk=tegra_utc,mmio32,0xc5a0000 earlycon=tegra_utc,mmio32,0xc5a0000 androidboot.selinux=disabled console=ttyUTC0,115200 maxcpus=1 systemd.unit=nvpre-si.target root=/dev/initrd rw rootwait rootwait rw rootfstype=ext4 firmware_class.path=/etc/firmware kmemleak=off pci=nomsi";
		stdout-path = "/bus@0/tegra-utc@c5a0000";
		use_dts_cmdline;
	};

	cpus {
		status = "okay";

		cpu@0 {
			status = "okay";
		};

		cpu@1 {
			status = "okay";
		};

		cpu@2 {
			status = "okay";
		};

		cpu@3 {
			status = "okay";
		};

		cpu@4 {
			status = "okay";
		};

		cpu@5 {
			status = "okay";
		};

		cpu@6 {
			status = "okay";
		};

		cpu@7 {
			status = "okay";
		};

		cpu@8 {
			status = "okay";
		};

		cpu@9 {
			status = "okay";
		};

		cpu@10 {
			status = "okay";
		};

		cpu@11 {
			status = "okay";
		};

		cpu@12 {
			status = "okay";
		};

		cpu@13 {
			status = "okay";
		};
	};

	tegra-carveouts {
		status = "okay";
	};

	reserved-memory {
		status = "okay";

		fsi-carveout {
			status = "okay";
		};

		gpu0_carveout {
			status = "okay";
		};

		linux,cma {
			status = "okay";
		};

		bpmp-shmem@0 {
			status = "okay";
		};
	};

	psci {
		status = "okay";
	};

	interrupt-controller@8146000000 {
		status = "okay";
		its@8146040000 {
			status = "okay";
		};
	};

	timer {
		status = "okay";
	};

	ufshci@a80b8d0000 {
		/delete-property/ nvidia,enable-hs-mode;
		status = "okay";
	};

	display@8808c00000 {
		status = "okay";
	};

	/* Check if it has to go with L4TConfigurations.dtbo */
	firmware {
		uefi {
			use-emulated-variables;
			variables {
				gDtPlatformFormSetGuid {
					DtAcpiPref {
						data = <0x0>;
						non-volatile;
					};
				};
			};
		};
	};
};
