/*
 * SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
 * SPDX-License-Identifier: LicenseRef-NvidiaProprietary
 *
 * NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
 * property and proprietary rights in and to this material, related
 * documentation and any modifications thereto. Any use, reproduction,
 * disclosure or distribution of this material and related documentation
 * without an express license agreement from NVIDIA CORPORATION or
 * its affiliates is strictly prohibited.
 */

// NOTE: This file was auto generated: No manual change must be made in this file

McGeneralizedCarveout5Cfg0 = <0x2002ffe>;
McGeneralizedCarveout5Cfg1 = <0x60>;
McGeneralizedCarveout5Access0 = <0x0>;
McGeneralizedCarveout5Access1 = <0x0>;
McGeneralizedCarveout5Access10 = <0x0>;
McGeneralizedCarveout5Access11 = <0x40>;
McGeneralizedCarveout5Access12 = <0x0>;
McGeneralizedCarveout5Access13 = <0x0>;
McGeneralizedCarveout5Access14 = <0x0>;
McGeneralizedCarveout5Access2 = <0x0>;
McGeneralizedCarveout5Access3 = <0x0>;
McGeneralizedCarveout5Access4 = <0x0>;
McGeneralizedCarveout5Access5 = <0x0>;
McGeneralizedCarveout5Access6 = <0x0>;
McGeneralizedCarveout5Access7 = <0x0>;
McGeneralizedCarveout5Access8 = <0x0>;
McGeneralizedCarveout5Access9 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout7Cfg0 = <0x4003ffe>;
McGeneralizedCarveout7Cfg1 = <0x60>;
McGeneralizedCarveout7Access0 = <0x0>;
McGeneralizedCarveout7Access1 = <0x0>;
McGeneralizedCarveout7Access10 = <0x0>;
McGeneralizedCarveout7Access11 = <0x0>;
McGeneralizedCarveout7Access12 = <0x0>;
McGeneralizedCarveout7Access13 = <0x0>;
McGeneralizedCarveout7Access14 = <0x0>;
McGeneralizedCarveout7Access2 = <0x0>;
McGeneralizedCarveout7Access3 = <0xc000000>;
McGeneralizedCarveout7Access4 = <0x0>;
McGeneralizedCarveout7Access5 = <0x0>;
McGeneralizedCarveout7Access6 = <0x0>;
McGeneralizedCarveout7Access7 = <0x0>;
McGeneralizedCarveout7Access8 = <0x0>;
McGeneralizedCarveout7Access9 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout8Cfg0 = <0x140007fe>;
McGeneralizedCarveout8Cfg1 = <0x60>;
McGeneralizedCarveout8Access0 = <0x0>;
McGeneralizedCarveout8Access1 = <0x0>;
McGeneralizedCarveout8Access10 = <0x0>;
McGeneralizedCarveout8Access11 = <0x0>;
McGeneralizedCarveout8Access12 = <0x0>;
McGeneralizedCarveout8Access13 = <0x0>;
McGeneralizedCarveout8Access14 = <0x0>;
McGeneralizedCarveout8Access2 = <0x0>;
McGeneralizedCarveout8Access3 = <0x0>;
McGeneralizedCarveout8Access4 = <0x1800000>;
McGeneralizedCarveout8Access5 = <0x0>;
McGeneralizedCarveout8Access6 = <0x0>;
McGeneralizedCarveout8Access7 = <0x0>;
McGeneralizedCarveout8Access8 = <0x0>;
McGeneralizedCarveout8Access9 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout9Cfg0 = <0x92000ffa>;
McGeneralizedCarveout9Cfg1 = <0x60>;
McGeneralizedCarveout9Access0 = <0x0>;
McGeneralizedCarveout9Access1 = <0x2000080>;
McGeneralizedCarveout9Access10 = <0x0>;
McGeneralizedCarveout9Access11 = <0x0>;
McGeneralizedCarveout9Access12 = <0x0>;
McGeneralizedCarveout9Access13 = <0x0>;
McGeneralizedCarveout9Access14 = <0xc0>;
McGeneralizedCarveout9Access2 = <0x0>;
McGeneralizedCarveout9Access3 = <0x0>;
McGeneralizedCarveout9Access4 = <0x6000000>;
McGeneralizedCarveout9Access5 = <0x0>;
McGeneralizedCarveout9Access6 = <0x0>;
McGeneralizedCarveout9Access7 = <0x0>;
McGeneralizedCarveout9Access8 = <0x0>;
McGeneralizedCarveout9Access9 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout10Cfg0 = <0x140017fe>;
McGeneralizedCarveout10Cfg1 = <0x60>;
McGeneralizedCarveout10Access0 = <0x0>;
McGeneralizedCarveout10Access1 = <0x0>;
McGeneralizedCarveout10Access10 = <0x30000>;
McGeneralizedCarveout10Access11 = <0x0>;
McGeneralizedCarveout10Access12 = <0x0>;
McGeneralizedCarveout10Access13 = <0x0>;
McGeneralizedCarveout10Access14 = <0x0>;
McGeneralizedCarveout10Access2 = <0x0>;
McGeneralizedCarveout10Access3 = <0x0>;
McGeneralizedCarveout10Access4 = <0x0>;
McGeneralizedCarveout10Access5 = <0x0>;
McGeneralizedCarveout10Access6 = <0x0>;
McGeneralizedCarveout10Access7 = <0x0>;
McGeneralizedCarveout10Access8 = <0x0>;
McGeneralizedCarveout10Access9 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout14Cfg0 = <0x120037fe>;
McGeneralizedCarveout14Cfg1 = <0x60>;
McGeneralizedCarveout14Access0 = <0x0>;
McGeneralizedCarveout14Access1 = <0x0>;
McGeneralizedCarveout14Access10 = <0x0>;
McGeneralizedCarveout14Access11 = <0xc000000>;
McGeneralizedCarveout14Access12 = <0x0>;
McGeneralizedCarveout14Access13 = <0x0>;
McGeneralizedCarveout14Access14 = <0x0>;
McGeneralizedCarveout14Access2 = <0x0>;
McGeneralizedCarveout14Access3 = <0x0>;
McGeneralizedCarveout14Access4 = <0x0>;
McGeneralizedCarveout14Access5 = <0x0>;
McGeneralizedCarveout14Access6 = <0x0>;
McGeneralizedCarveout14Access7 = <0x0>;
McGeneralizedCarveout14Access8 = <0xc>;
McGeneralizedCarveout14Access9 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout14ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout16Cfg0 = <0x220007fe>;
McGeneralizedCarveout16Cfg1 = <0x60>;
McGeneralizedCarveout16Access0 = <0x0>;
McGeneralizedCarveout16Access1 = <0x0>;
McGeneralizedCarveout16Access10 = <0x0>;
McGeneralizedCarveout16Access11 = <0x0>;
McGeneralizedCarveout16Access12 = <0x0>;
McGeneralizedCarveout16Access13 = <0x0>;
McGeneralizedCarveout16Access14 = <0x0>;
McGeneralizedCarveout16Access2 = <0x0>;
McGeneralizedCarveout16Access3 = <0x0>;
McGeneralizedCarveout16Access4 = <0x0>;
McGeneralizedCarveout16Access5 = <0x30000000>;
McGeneralizedCarveout16Access6 = <0xc0000>;
McGeneralizedCarveout16Access7 = <0x0>;
McGeneralizedCarveout16Access8 = <0x0>;
McGeneralizedCarveout16Access9 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout16ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout17Cfg0 = <0x22000ffe>;
McGeneralizedCarveout17Cfg1 = <0x60>;
McGeneralizedCarveout17Access0 = <0x0>;
McGeneralizedCarveout17Access1 = <0x0>;
McGeneralizedCarveout17Access10 = <0x0>;
McGeneralizedCarveout17Access11 = <0x0>;
McGeneralizedCarveout17Access12 = <0x0>;
McGeneralizedCarveout17Access13 = <0x280>;
McGeneralizedCarveout17Access14 = <0x0>;
McGeneralizedCarveout17Access2 = <0x80>;
McGeneralizedCarveout17Access3 = <0x0>;
McGeneralizedCarveout17Access4 = <0x0>;
McGeneralizedCarveout17Access5 = <0x10000000>;
McGeneralizedCarveout17Access6 = <0x40000>;
McGeneralizedCarveout17Access7 = <0x0>;
McGeneralizedCarveout17Access8 = <0x0>;
McGeneralizedCarveout17Access9 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout19Cfg0 = <0x22001ffa>;
McGeneralizedCarveout19Cfg1 = <0x60>;
McGeneralizedCarveout19Access0 = <0x0>;
McGeneralizedCarveout19Access1 = <0x0>;
McGeneralizedCarveout19Access10 = <0x0>;
McGeneralizedCarveout19Access11 = <0x0>;
McGeneralizedCarveout19Access12 = <0x0>;
McGeneralizedCarveout19Access13 = <0x7e0000>;
McGeneralizedCarveout19Access14 = <0x0>;
McGeneralizedCarveout19Access2 = <0x0>;
McGeneralizedCarveout19Access3 = <0x0>;
McGeneralizedCarveout19Access4 = <0x0>;
McGeneralizedCarveout19Access5 = <0x0>;
McGeneralizedCarveout19Access6 = <0x0>;
McGeneralizedCarveout19Access7 = <0x0>;
McGeneralizedCarveout19Access8 = <0x0>;
McGeneralizedCarveout19Access9 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout20Cfg0 = <0x220027fa>;
McGeneralizedCarveout20Cfg1 = <0x60>;
McGeneralizedCarveout20Access0 = <0x0>;
McGeneralizedCarveout20Access1 = <0x0>;
McGeneralizedCarveout20Access10 = <0x0>;
McGeneralizedCarveout20Access11 = <0xc000000>;
McGeneralizedCarveout20Access12 = <0x0>;
McGeneralizedCarveout20Access13 = <0x0>;
McGeneralizedCarveout20Access14 = <0x555500>;
McGeneralizedCarveout20Access2 = <0x0>;
McGeneralizedCarveout20Access3 = <0x0>;
McGeneralizedCarveout20Access4 = <0x0>;
McGeneralizedCarveout20Access5 = <0x0>;
McGeneralizedCarveout20Access6 = <0x0>;
McGeneralizedCarveout20Access7 = <0x0>;
McGeneralizedCarveout20Access8 = <0x0>;
McGeneralizedCarveout20Access9 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout21Cfg0 = <0x22002ffa>;
McGeneralizedCarveout21Cfg1 = <0x60>;
McGeneralizedCarveout21Access0 = <0x0>;
McGeneralizedCarveout21Access1 = <0x2000080>;
McGeneralizedCarveout21Access10 = <0x0>;
McGeneralizedCarveout21Access11 = <0x0>;
McGeneralizedCarveout21Access12 = <0x0>;
McGeneralizedCarveout21Access13 = <0x0>;
McGeneralizedCarveout21Access14 = <0x0>;
McGeneralizedCarveout21Access2 = <0x0>;
McGeneralizedCarveout21Access3 = <0x0>;
McGeneralizedCarveout21Access4 = <0x3c>;
McGeneralizedCarveout21Access5 = <0x0>;
McGeneralizedCarveout21Access6 = <0x0>;
McGeneralizedCarveout21Access7 = <0x0>;
McGeneralizedCarveout21Access8 = <0x0>;
McGeneralizedCarveout21Access9 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout21ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout24Cfg0 = <0x320007fe>;
McGeneralizedCarveout24Cfg1 = <0x60>;
McGeneralizedCarveout24Access0 = <0x0>;
McGeneralizedCarveout24Access1 = <0x0>;
McGeneralizedCarveout24Access10 = <0x0>;
McGeneralizedCarveout24Access11 = <0x0>;
McGeneralizedCarveout24Access12 = <0x0>;
McGeneralizedCarveout24Access13 = <0x0>;
McGeneralizedCarveout24Access14 = <0x0>;
McGeneralizedCarveout24Access2 = <0x0>;
McGeneralizedCarveout24Access3 = <0x0>;
McGeneralizedCarveout24Access4 = <0x0>;
McGeneralizedCarveout24Access5 = <0x0>;
McGeneralizedCarveout24Access6 = <0xc0000>;
McGeneralizedCarveout24Access7 = <0x0>;
McGeneralizedCarveout24Access8 = <0x0>;
McGeneralizedCarveout24Access9 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout25Cfg0 = <0x32000ffe>;
McGeneralizedCarveout25Cfg1 = <0x60>;
McGeneralizedCarveout25Access0 = <0x0>;
McGeneralizedCarveout25Access1 = <0x0>;
McGeneralizedCarveout25Access10 = <0x0>;
McGeneralizedCarveout25Access11 = <0x0>;
McGeneralizedCarveout25Access12 = <0x0>;
McGeneralizedCarveout25Access13 = <0x180>;
McGeneralizedCarveout25Access14 = <0x0>;
McGeneralizedCarveout25Access2 = <0x0>;
McGeneralizedCarveout25Access3 = <0x0>;
McGeneralizedCarveout25Access4 = <0x0>;
McGeneralizedCarveout25Access5 = <0x0>;
McGeneralizedCarveout25Access6 = <0xc0000>;
McGeneralizedCarveout25Access7 = <0x0>;
McGeneralizedCarveout25Access8 = <0x0>;
McGeneralizedCarveout25Access9 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout25ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout26Cfg0 = <0x320017fe>;
McGeneralizedCarveout26Cfg1 = <0x60>;
McGeneralizedCarveout26Access0 = <0x0>;
McGeneralizedCarveout26Access1 = <0x800000>;
McGeneralizedCarveout26Access10 = <0x0>;
McGeneralizedCarveout26Access11 = <0x0>;
McGeneralizedCarveout26Access12 = <0x0>;
McGeneralizedCarveout26Access13 = <0x0>;
McGeneralizedCarveout26Access14 = <0x0>;
McGeneralizedCarveout26Access2 = <0x80a0>;
McGeneralizedCarveout26Access3 = <0x0>;
McGeneralizedCarveout26Access4 = <0x0>;
McGeneralizedCarveout26Access5 = <0x0>;
McGeneralizedCarveout26Access6 = <0xc0000>;
McGeneralizedCarveout26Access7 = <0x0>;
McGeneralizedCarveout26Access8 = <0x0>;
McGeneralizedCarveout26Access9 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout27Cfg0 = <0x32001ffe>;
McGeneralizedCarveout27Cfg1 = <0x60>;
McGeneralizedCarveout27Access0 = <0x0>;
McGeneralizedCarveout27Access1 = <0x0>;
McGeneralizedCarveout27Access10 = <0x0>;
McGeneralizedCarveout27Access11 = <0x0>;
McGeneralizedCarveout27Access12 = <0x0>;
McGeneralizedCarveout27Access13 = <0x1800600>;
McGeneralizedCarveout27Access14 = <0x0>;
McGeneralizedCarveout27Access2 = <0x0>;
McGeneralizedCarveout27Access3 = <0x0>;
McGeneralizedCarveout27Access4 = <0x0>;
McGeneralizedCarveout27Access5 = <0x0>;
McGeneralizedCarveout27Access6 = <0xc0000>;
McGeneralizedCarveout27Access7 = <0x0>;
McGeneralizedCarveout27Access8 = <0x0>;
McGeneralizedCarveout27Access9 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout27ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout28Cfg0 = <0x320027fa>;
McGeneralizedCarveout28Cfg1 = <0x64>;
McGeneralizedCarveout28Access0 = <0x0>;
McGeneralizedCarveout28Access1 = <0x2000080>;
McGeneralizedCarveout28Access10 = <0x0>;
McGeneralizedCarveout28Access11 = <0x0>;
McGeneralizedCarveout28Access12 = <0x0>;
McGeneralizedCarveout28Access13 = <0x0>;
McGeneralizedCarveout28Access14 = <0x0>;
McGeneralizedCarveout28Access2 = <0x0>;
McGeneralizedCarveout28Access3 = <0x0>;
McGeneralizedCarveout28Access4 = <0x0>;
McGeneralizedCarveout28Access5 = <0x0>;
McGeneralizedCarveout28Access6 = <0x0>;
McGeneralizedCarveout28Access7 = <0x0>;
McGeneralizedCarveout28Access8 = <0x0>;
McGeneralizedCarveout28Access9 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout29Cfg0 = <0x32002ffe>;
McGeneralizedCarveout29Cfg1 = <0x60>;
McGeneralizedCarveout29Access0 = <0x0>;
McGeneralizedCarveout29Access1 = <0x0>;
McGeneralizedCarveout29Access10 = <0x0>;
McGeneralizedCarveout29Access11 = <0x0>;
McGeneralizedCarveout29Access12 = <0x0>;
McGeneralizedCarveout29Access13 = <0xc0000000>;
McGeneralizedCarveout29Access14 = <0x3>;
McGeneralizedCarveout29Access2 = <0x0>;
McGeneralizedCarveout29Access3 = <0x0>;
McGeneralizedCarveout29Access4 = <0x0>;
McGeneralizedCarveout29Access5 = <0x0>;
McGeneralizedCarveout29Access6 = <0x0>;
McGeneralizedCarveout29Access7 = <0x0>;
McGeneralizedCarveout29Access8 = <0x0>;
McGeneralizedCarveout29Access9 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout31Cfg0 = <0x32003ffe>;
McGeneralizedCarveout31Cfg1 = <0x60>;
McGeneralizedCarveout31Access0 = <0x0>;
McGeneralizedCarveout31Access1 = <0x0>;
McGeneralizedCarveout31Access10 = <0x0>;
McGeneralizedCarveout31Access11 = <0x0>;
McGeneralizedCarveout31Access12 = <0x0>;
McGeneralizedCarveout31Access13 = <0x1800>;
McGeneralizedCarveout31Access14 = <0x0>;
McGeneralizedCarveout31Access2 = <0x0>;
McGeneralizedCarveout31Access3 = <0x0>;
McGeneralizedCarveout31Access4 = <0x0>;
McGeneralizedCarveout31Access5 = <0x0>;
McGeneralizedCarveout31Access6 = <0x0>;
McGeneralizedCarveout31Access7 = <0x0>;
McGeneralizedCarveout31Access8 = <0x0>;
McGeneralizedCarveout31Access9 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess10 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess11 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess12 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess13 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess14 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout31ForceInternalAccess9 = <0x0>;
McGeneralizedCarveoutLite33Cfg0 = <0x7fe>;
McGeneralizedCarveoutLite33Cfg1 = <0x60>;
McGeneralizedCarveoutLite33Access0 = <0x0>;
McGeneralizedCarveoutLite33Access1 = <0x0>;
McGeneralizedCarveoutLite33Access10 = <0x0>;
McGeneralizedCarveoutLite33Access11 = <0x0>;
McGeneralizedCarveoutLite33Access12 = <0x0>;
McGeneralizedCarveoutLite33Access13 = <0x0>;
McGeneralizedCarveoutLite33Access14 = <0x0>;
McGeneralizedCarveoutLite33Access2 = <0x0>;
McGeneralizedCarveoutLite33Access3 = <0x0>;
McGeneralizedCarveoutLite33Access4 = <0x0>;
McGeneralizedCarveoutLite33Access5 = <0x0>;
McGeneralizedCarveoutLite33Access6 = <0xc0000>;
McGeneralizedCarveoutLite33Access7 = <0x0>;
McGeneralizedCarveoutLite33Access8 = <0xc>;
McGeneralizedCarveoutLite33Access9 = <0x0>;
McGeneralizedCarveoutLite34Cfg0 = <0x800007fa>;
McGeneralizedCarveoutLite34Cfg1 = <0x64>;
McGeneralizedCarveoutLite34Access0 = <0x0>;
McGeneralizedCarveoutLite34Access1 = <0x2000080>;
McGeneralizedCarveoutLite34Access10 = <0x0>;
McGeneralizedCarveoutLite34Access11 = <0x0>;
McGeneralizedCarveoutLite34Access12 = <0x0>;
McGeneralizedCarveoutLite34Access13 = <0xc0000000>;
McGeneralizedCarveoutLite34Access14 = <0x3>;
McGeneralizedCarveoutLite34Access2 = <0x0>;
McGeneralizedCarveoutLite34Access3 = <0x0>;
McGeneralizedCarveoutLite34Access4 = <0x0>;
McGeneralizedCarveoutLite34Access5 = <0x0>;
McGeneralizedCarveoutLite34Access6 = <0x0>;
McGeneralizedCarveoutLite34Access7 = <0x0>;
McGeneralizedCarveoutLite34Access8 = <0x0>;
McGeneralizedCarveoutLite34Access9 = <0x0>;
McGeneralizedCarveoutLite35Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite35Cfg1 = <0x60>;
McGeneralizedCarveoutLite35Access0 = <0x0>;
McGeneralizedCarveoutLite35Access1 = <0x80>;
McGeneralizedCarveoutLite35Access10 = <0x0>;
McGeneralizedCarveoutLite35Access11 = <0x0>;
McGeneralizedCarveoutLite35Access12 = <0x0>;
McGeneralizedCarveoutLite35Access13 = <0x0>;
McGeneralizedCarveoutLite35Access14 = <0x0>;
McGeneralizedCarveoutLite35Access2 = <0x0>;
McGeneralizedCarveoutLite35Access3 = <0x0>;
McGeneralizedCarveoutLite35Access4 = <0x0>;
McGeneralizedCarveoutLite35Access5 = <0x0>;
McGeneralizedCarveoutLite35Access6 = <0x0>;
McGeneralizedCarveoutLite35Access7 = <0x0>;
McGeneralizedCarveoutLite35Access8 = <0x0>;
McGeneralizedCarveoutLite35Access9 = <0x0>;
McGeneralizedCarveoutLite39Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite39Cfg1 = <0x64>;
McGeneralizedCarveoutLite39Access0 = <0x1>;
McGeneralizedCarveoutLite39Access1 = <0x2000080>;
McGeneralizedCarveoutLite39Access10 = <0x70>;
McGeneralizedCarveoutLite39Access11 = <0x0>;
McGeneralizedCarveoutLite39Access12 = <0x1366800>;
McGeneralizedCarveoutLite39Access13 = <0x0>;
McGeneralizedCarveoutLite39Access14 = <0x555500>;
McGeneralizedCarveoutLite39Access2 = <0x0>;
McGeneralizedCarveoutLite39Access3 = <0x0>;
McGeneralizedCarveoutLite39Access4 = <0x0>;
McGeneralizedCarveoutLite39Access5 = <0x0>;
McGeneralizedCarveoutLite39Access6 = <0x0>;
McGeneralizedCarveoutLite39Access7 = <0x0>;
McGeneralizedCarveoutLite39Access8 = <0x0>;
McGeneralizedCarveoutLite39Access9 = <0xd34c000>;
McGeneralizedCarveoutLite41Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite41Cfg1 = <0x62>;
McGeneralizedCarveoutLite41Access0 = <0x0>;
McGeneralizedCarveoutLite41Access1 = <0x2000080>;
McGeneralizedCarveoutLite41Access10 = <0x0>;
McGeneralizedCarveoutLite41Access11 = <0x0>;
McGeneralizedCarveoutLite41Access12 = <0x0>;
McGeneralizedCarveoutLite41Access13 = <0xc0000000>;
McGeneralizedCarveoutLite41Access14 = <0x3>;
McGeneralizedCarveoutLite41Access2 = <0x0>;
McGeneralizedCarveoutLite41Access3 = <0x0>;
McGeneralizedCarveoutLite41Access4 = <0x0>;
McGeneralizedCarveoutLite41Access5 = <0x0>;
McGeneralizedCarveoutLite41Access6 = <0x0>;
McGeneralizedCarveoutLite41Access7 = <0x0>;
McGeneralizedCarveoutLite41Access8 = <0x0>;
McGeneralizedCarveoutLite41Access9 = <0x0>;
McGeneralizedCarveoutLite42Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite42Cfg1 = <0x60>;
McGeneralizedCarveoutLite42Access0 = <0x0>;
McGeneralizedCarveoutLite42Access1 = <0x0>;
McGeneralizedCarveoutLite42Access10 = <0x0>;
McGeneralizedCarveoutLite42Access11 = <0xc000000>;
McGeneralizedCarveoutLite42Access12 = <0x0>;
McGeneralizedCarveoutLite42Access13 = <0x0>;
McGeneralizedCarveoutLite42Access14 = <0x0>;
McGeneralizedCarveoutLite42Access2 = <0x0>;
McGeneralizedCarveoutLite42Access3 = <0x0>;
McGeneralizedCarveoutLite42Access4 = <0xc0>;
McGeneralizedCarveoutLite42Access5 = <0x0>;
McGeneralizedCarveoutLite42Access6 = <0x0>;
McGeneralizedCarveoutLite42Access7 = <0x0>;
McGeneralizedCarveoutLite42Access8 = <0x0>;
McGeneralizedCarveoutLite42Access9 = <0x0>;
